:root {
  --white: #ffff;
  --gray: #ededf0;
  --lightGray: #f2f3f6;
  --lightBlue: #9ca7d3;
  --darkBlue: #494e61;
  --birghtBlue: #7d82f7;
  --backgroundGray: #f3f3f6;
  --darkGray: #757b8f;
  --green: #24a1a9;
  --turkus: #33cad4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 500;
  background-color: var(--backgroundGray);
}

ul {
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open_Sans/OpenSans-SemiBold.ttf") format("otf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("otf");
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
