.menu {
  display: flex;
  position: relative;
  align-items: center;
  width: 30px;
  margin-left: auto;
  cursor: pointer;
  z-index: 1;
  transition: all 1.3s;
}

.dot {
  position: relative;
  z-index: 2;
}

.menu:hover .dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -6px;
  width: 37px;
  border-radius: 50%;
  height: 37px;
  background-color: var(--lightGray);
  z-index: -1;
  transition: all 1.3s;
}

.option {
  position: absolute;
  right: 26px;
  background-color: var(--white);
  z-index: 5;
  box-shadow: 1px 1px 9px -6px #000000;
  line-height: 13px;
}

@media screen and (max-width: 767px) {
  .option {
    right: -20px;
  }
}

.option__item:hover {
  background-color: var(--lightGray);

  transition: all 0.3s;
}

.option__item {
  position: relative;
  box-sizing: border-box;
  height: 55px;
  width: 137px;
  font-size: 13px;
  white-space: nowrap;
  padding: 24px;
  transition: all 0.3s;
  cursor: pointer;
}

.outside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
}
