.listWrapper {
  border: 2px solid var(--gray);
}

.heading {
  display: flex;
  height: 74px;
  border-bottom: 2px solid var(--gray);
  color: var(--lightBlue);
  padding: 0 41px;
  background-color: var(--white);
}

.heading__name {
  position: relative;
  font-size: 14px;
  top: 41px;
  max-width: 190px;
  width: 100%;
  margin-right: 120px;
}

.heading__status {
  font-size: 14px;
  position: relative;
  top: 41px;
  pointer-events: none;
}

.heading__placeholder {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .heading__status {
    visibility: hidden;
  }

  .heading {
    padding: 18px;
    height: auto;
  }

  .heading__name {
    position: static;
  }
}
