.header {
  background-color: var(--darkBlue);
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.headingText {
  font-size: 14px;
  position: relative;
  color: var(--white);
  line-height: 73px;
  margin-left: 12px;
}

.headingText::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -31px;
  height: 35px;
  width: 2px;
  background-color: var(--darkGray);
}

.cricle {
  flex-shrink: 0;
  width: 13px;
  height: 13px;
  border: 2px solid var(--birghtBlue);
  border-radius: 50%;
  margin-left: 27px;
}
