.server {
  display: flex;
  align-items: center;
  height: 57px;
  border-bottom: 2px solid var(--gray);
  padding: 0 36px 0 41px;
  background-color: var(--white);
}

.server__name {
  width: 100%;
  margin-right: 120px;
  max-width: 190px;
  font-size: 13px;
  color: var(--darkBlue);
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .server {
    display: block;
    padding: 20px;
  }
}

.server__status {
  font-size: 13px;
  color: var(--green);
  position: relative;
}

@media screen and (max-width: 767px) {
  .server__status {
    margin-left: 15px;
    margin-top: 15px;
  }

  .server__menu {
    position: relative;
    bottom: 15px;
  }
}

.server__menu {
  width: 100%;
}

.statusIcon {
  content: "";
  position: absolute;
  top: 25%;
  left: -15px;
  width: 10px;
  height: 10px;
  transition: translateY(-25%);
}

.circle {
  content: "";
  position: absolute;
  top: 25%;
  left: -15px;
  width: 10px;
  height: 10px;
  transition: translateY(-25%);
  transform: scale(0.65);
  border-radius: 50%;
  background: var(--turkus);
}

.close {
  top: 3%;
  left: -15px;
  width: 9px;
  height: 10px;
}

.close svg * {
  fill: red;
}

.online_text {
  color: var(--turkus);
}

.rebooting_text {
  color: var(--lightBlue);
  left: -15px !important;
}

.offline_text {
  color: var(--darkBlue);
}
